.company-name {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    padding: 1rem;
}

.project-name {
    font-size: 1.25rem;
    text-align: center;
    padding: 0 0.5rem 1rem 0.5rem;
}

.job-pos {
    font-size: 0.8rem;
    font-style: italic;
    padding: 0 0.25rem 0.25rem 0.25rem;
}

.job-description {
    padding: 0.5rem;
}

.carousel-item > .row {
    height: 300px;
}